<nav class="mynav">
	<div class="container-fluid">
		<div class="row">

    <!-- For lg, md -->
			<div class="col-md-5 hidden-sm hidden-xs col-lg-5">
				<ul id="nav_items">
					<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <li><a href="/about">About</a></li>
          <% if logged_in? %>
            <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</a></li>
            <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Messages</a></li>
          <% end %>
				</ul>
			</div>

      <!-- For sm -->
      <div class="col-sm-4 hidden-md hidden-xs hidden-lg">
        <ul id="nav_items">
          <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <!-- For everything -->
			<div class="col-md-2 col-sm-4 col-xs-8 col-lg-2">
				<span id="title"><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></span>
			</div>

      <!-- For lg, md, sm -->
			<div class="col-md-5 col-sm-4 col-lg-5 hidden-xs">
				<ul id="login">
          <% if logged_in? %>
              <li>
                <a href="#" class="drop_toggle"><%= gravatar_for current_user, size: 30 %><%= current_user.name %></a>
                <ul class="content">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </li>
              <li><%= link_to "Users", users_path %></li>

        <% else %>
					  <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
					  <li><a href="/signup"><i class="fa fa-user-circle" aria-hidden="true"></i> Signup</a></li>
          <% end %>
				</ul>
			</div>

      <!-- Responsive Bar button -->
			<div class="col-xs-4 hidden-sm hidden-md hidden-lg">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" onclick="openNav()">
          <span style="background-color: #0084b4;" class="icon-bar"></span>
          <span style="background-color: #0084b4;" class="icon-bar"></span>
          <span style="background-color: #0084b4;" class="icon-bar"></span>
        </button>
			</div>
		</div>
	</div>
</nav>

<!-- For xs -->
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times</a>
  <div class="overlay-content">
    <ul class="xs-nav">
      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <% if logged_in? %>
        <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</a></li>
        <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Messages</a></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <%= link_to "Log out", logout_path, method: "delete" %>
      <% else %>
        <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
        <li><a href="/signup"><i class="fa fa-user-circle" aria-hidden="true"></i> Signup</a></li>
      <% end %>
    </ul>
  </div>
</div>