<nav class="myNav">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-4 col-md-5 hidden-sm hidden-xs">
        <ul class="home">
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
          <% if logged_in? %>
              <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</a></li>
              <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Messages</a></li>
          <% end %>
          <li><a href="/about">About</a></li>
        </ul>
      </div>

      <div class="hidden-lg hidden-md col-sm-5 hidden-xs">
        <ul class="home">
          <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
          <% if logged_in? %>
              <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a></li>
          <% end %>
          <li><a href="/about">About</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-2 col-sm-2 col-xs-8">
        <span id="title"><a href="/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></span>
      </div>

      <% if logged_in? %>
        <div class="col-lg-4 col-md-5 hidden-sm hidden-xs">
          <ul class="login">
            <li>
              <a href="#" class="drop_toggle"><%= gravatar_for current_user, size: 25 %><%= current_user.name %></a>
              <div class="drop">
                <ul class="content">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <!--<li class="divider"></li>-->
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </div>
            </li>
            <li><%= link_to "Users", users_path %></li>
          </ul>
        </div>
        <div class="hidden-lg hidden-md col-sm-5 hidden-xs">
          <ul class="login">
            <li>
              <a href="#" class="drop_toggle"><%= gravatar_for current_user, size: 25 %><%= current_user.name %></a>
              <div class="drop">
                <ul class="content">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <!--<li class="divider"></li>-->
                  <li>
                    <%= link_to "Log out", logout_path, method: "delete" %>
                  </li>
                </ul>
              </div>
            </li>
            <li><%= link_to "Users", users_path %></li>
          </ul>
        </div>
      <% else %>
        <div class="col-lg-4 col-md-5 col-sm-5 hidden-xs">
          <ul class="login">
            <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
            <li><a href="/signup"><i class="fa fa-user-circle" aria-hidden="true"></i> Sign Up</a></li>
          </ul>
        </div>
      <% end %>

      <div class="hidden-lg hidden-md hidden-sm col-xs-4">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" onclick="openNav()">
          <span style="background-color: #0084b4;" class="icon-bar"></span>
          <span style="background-color: #0084b4;" class="icon-bar"></span>
          <span style="background-color: #0084b4;" class="icon-bar"></span>
        </button>
      </div>

    </div>
  </div>
</nav>

<!-- For xs -->
<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times</a>
  <div class="overlay-content">
    <ul class="xs-nav">
      <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
      <% if logged_in? %>
          <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</a></li>
          <li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Messages</a></li>
          <li><a href="/about">About</a></li>
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", '#' %></li>
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <% else %>
          <li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
          <li><a href="/signup"><i class="fa fa-user-circle" aria-hidden="true"></i> Signup</a></li>
      <% end %>
    </ul>
  </div>
</div>