<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Twitter</title>
    <meta name="author" content="Rishabh Khatri">
    <meta name="description" content="IIITD's microblogging website">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/8bb2c5e006.js"></script>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="mynav">
  		<div class="container-fluid">
  			<div class="row">
  				<div class="col-md-4 col-sm-4 hidden-xs">
  					<ul id="nav_items">
  						<li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
  						<li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i> Notifications</a></li>
  						<li><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Messages</a></li>
  					</ul>
  				</div>
  				<div class="col-md-4 col-sm-4 col-xs-8">
  					<span id="title"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></span>
  				</div>
  				<div class="col-md-4 col-sm-4 hidden-xs">
  					<ul id="login">
  						<li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
  						<li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> Signup</a></li>
  					</ul>
  				</div>
  				<div class="col-xs-4 hidden-sm hidden-md hidden-lg">
  					<span><i class="fa fa-bars" aria-hidden="true"></i></span>
  				</div>
  			</div>
  		</div>
  	</nav>
  	<div style="padding: 20px;margin-top: 30px;">
  		<%= yield %>
  	</div>
  </body>
</html>
